.IWIF_content_inputFile {
  position: relative;
}
.IWIF_contentData64 {
  position: relative;
}
.IWIF_contentData64.IWIF_contentData64 img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
  border-radius: 100%;
  background-color: #2cf6b3;
  padding: 2px;
}
.IWIF_contentData64 .imgUpload {
  position: relative;
}
.IWIF_contentData64 .removeImg {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 100%;
  background-color: #db3737;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.IWIF_contentData64 .removeImg svg{
  width: 50%;
}

.IWIF_inputFile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #2cf6b3;
  cursor: pointer;
  position: relative;
}
.IWIF_inputFile [type="file"] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.IWIF_inputFile .icon {
  display: block;
  width: 50%;
  color: white;
  cursor: pointer;
}
.IWIF_inputFile .icon svg {
  max-width: 100%;
  cursor: pointer;
}

.IWIF_inputFile .countfile {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 100%;
  background-color: #42728a;
  color: white;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.IWIF_inputFile .countfile:not(.show) {
  display: none;
}
